<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>
<!-- Section Heading -->
    <div class="row">
        <div class="page-header col-lg-12">
            <h1>
                404 - Page not Found
            </h1>
            <p>We're sorry, the page you requested may have been moved or deleted.</p>
        </div>
    </div>

<!-- Section content -->
    <div class="row">
        <div class="image-container col-lg-12">
            <img src="public/static/img/404.jpg">
        </div>
    </div>
</div>